.vs/
build/

PJ64_DInput/Debug/
PJ64_DInput/PJ64_DInput/Debug/
PJ64_DInput/Release/
PJ64_DInput/x64/
PJ64_DInput/Win32/
PJ64_DInput/.vs/

*.obj
*.res
*.pdb
*.ilk
*.exp
*.lib
*.dll
*.idb
*.log
*.recipe
*.tlog
*.lastbuildstate
*.vcxproj.user

main.c.backup
